torch
numpy==1.23.5
matplotlib
scipy
torchvision
pytorchcv
catalyst
torchsummary
Cython
catalyst
gymnasium
gym
stable_baselines
tensorflow==2.2.0
protobuf==3.20.*
pandas
swig
pyqt5
matplotlib       
numpy        
pandas 
scikit-learn 
tqdm        
torch 
torchvision 
pyprof
